body{
    margin:0;
 
 }
 .header{
     background-color: rgb(190, 190, 190);
     height: 50px;
     
 }
 h1{
     margin-top: 0;
     margin-left:5vh;
     padding: 5px;
 }
 
 .title > p{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  
 }
 
 img{
     width: 5vh;
     height: 5vh;
 }
 
 a{
    text-decoration: none;
    color: black;
 }

 
 #container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.categoryBox{
    background-color:rgb(190, 190, 190);
    width: 25vh;
    height: 25vh;
    margin-top: 5vh;
    cursor: pointer;
}


.titleBox{
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
}

.iconBox{
    text-align: center;
    margin-bottom: 10vh;

}

#icon-user{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  
    position: absolute;
    top: 0.5vh;
    right: 50px;
    width: 6vh;
}

#wrapper-category{
    display: grid;
    grid-row: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 10vh;
}

#backdiv{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.categoryTitle{
    margin-bottom: 3vh;
    font-size: 2rem;
}

.categoryLogo{
    margin-bottom: 3vh;
}

.categoryLogo > img{
    width: 10vh;
    height: 10vh;
}

.categoryInfo{
    font-size: 1rem;
}

.backDiv{
    position: absolute;
    top: 15vh;
    left: 10vh;
    width: 15vh;
    height: 15vh;
}

.backDiv > img{
    width: 7vh;
    height: 7vh;
}

#input-fields{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 10vh;
}

#button-play > #btnPlayQuiz{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    position: absolute;

    bottom: 30vh;
    height: 8vh;
    right: 25vh;
    width: 15vh;
    background-color: rgb(210, 208, 208);

    border-radius: 10px 10px 10px 10px;
}

#btnPlayQuiz:hover{
    background-color: rgb(148, 146, 146);
}

#clock {
	width: 300px;
	height: 300px;
	margin: auto;
}

span {
	display: block;
	width: 100%;
	margin-top: 20vh;
	padding-top: 60px;
	text-align: center;
	font-size: 150px;
}

#wrapper-quiz{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-top: 10vh;
}

#quiz-title{
    font-size: 20px;
}

#question{
    font-weight: bold;
    font-size: 20px;
    margin-top: 3vh;
}
.box-question {
    width: 50vh;
    height: auto;
    background-color: rgb(210, 208, 208);
    margin-bottom: 10vh;
}

.box-question > input{
    width: 20px;
    height: 20px;
    padding: 0;
    margin-left: 2vh;
    position: relative;
    top: 2vh;
    *overflow: hidden;
    
}

#info-quiz{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    margin-top: 10vh;
}

label{
    display: block;
    padding-left: 45px;
}

#text{
text-align: center;
}

.timer{
    color: #004085;
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    margin-left: 50vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.time_left_txt{
    user-select: none;
    font-size: 17px;
    font-weight: 400;
}

.timer_sec{
    background-color: #343a40;
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color:#fff;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    user-select: none;
}

.time_line{
    position: absolute;
    bottom: 10vh;
    width: 30%;
    height: 30px;
    background-color: rgb(108, 108, 108);
}

#back-menu{
    position: absolute;
    bottom: 40vh;   
}

#date{
    margin-bottom: 5vh;
}

#Finish-logo{
    position: absolute;
    right: 20vh;
    left: 0;
    bottom: 50vh;
    margin-left: 40vh;
}

#Finish-logo > img{
width: 20vh;
height: 20vh;
}

#question-count > span{
    font-size: 15px;
    display: flex;

text-align: center;
}