body{
    margin:0;
    background-color: #9190ae;
    font-family: "Varela Round", sans-serif;
 }
 .header{
     height: 10vh;
     background-color: whitesmoke;  
 }

.header > button {
        border: none;
        cursor: pointer;
        appearance: none;
        background-color: inherit;
        position: absolute;
        top: 0.5vh;
        right: 50px;
        width: 6vh;
}


h1{
     margin-top: 0;
     margin-left:5vh;
     padding: 5px;
}

img{
    width: 6vh;
    height: 6vh;
 }
 

#icon-user{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  
    position: absolute;
    top: 2vh;
    right: 50px;
    width: 10vh;
}
#login {
    display: flex;
    align-items: center;
    justify-content: center; 
}
#loginForm{
    display: flex;
    justify-content: center;
    justify-content: center;

}
.loginform {
    display: grid;
    justify-content: center;
    grid-template-rows: 4;
    background-color: rgb(206, 197, 209);
    padding: 50px;
    margin-top: 50px;
    width: 50vh;
    border-radius: 10px 10px 10px 10px;
}
input {
    padding: 10px;
    margin-top: 3vh;
}

.buttonInfo {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 
}

.logo{
    position: absolute;
    top: -5vh;
    left: 5vh;
    margin-top: 2vh;
    width: 15vh;
    height: 18vh;
}

h3{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
}

#loginBtn{
    margin-top: 3vh;
    margin-left: 13.5vh;
    width: 10vh;
    height: 5vh;
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    appearance: none;
}
#createAccountBtn{
    margin-left: 11vh;
    width: 15vh;
    height: 5vh;
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    appearance: none;
}
p{
    margin-top: 5vh;
    margin-left: 5vh;
    font-family: 'Varela Round', sans-serif;
}

.submitBtn{

    width: 15vh;
    height: 5vh;
    border-radius: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    appearance: none;
}